{% extends 'shop/basic.html' %}
{% block title %} About Us  {% endblock %}
{% block body %}


<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">

      <span class="fs-4"><h1 style="color: red">About-My Shopping Cart</h1></span>

    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">My Shopping Cart!</h1>
        <p class="col-md-8 fs-4">My Shopping Cart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon India and domestic rival Snapdeal.As of March 2017, Flipkart held a 39.5% market share in the Indian e-commerce industry.Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
        <button class="btn btn-primary btn-lg" type="button">Know more</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>CEO-Founder of th company</h2>
          <p><b>Mr. Mohit Pandey</b> is the only one founder - CEO of the company . He is a great Programmer and in 1 month he was make this E-Commerce website </p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Sales and Quality</h2>
          <p>In 2022, <b>MyShoppingCart</b> global net retail product sales reached $220 billion. Retail third-party seller services ranked second with nearly $118 billion in sales (source). 32% of shoppers purchase the top products on the <b>MyShoppingCart</b> search results page in 2022, up from 28% in 2020.</p>
          <button class="btn btn-outline-secondary" type="button"> Know More</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; CopyrightsBy-My Shopping Cart-2023
    </footer>
  </div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


{% endblock %}
